@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
*{margin: 0;padding: 0;font-family: 'Work Sans', sans-serif;}
h1,h2,h3,h4{
    color: #131313;
    margin-bottom: 12px;
}
h2{
    font-size: 32px;
}
p,a{
    color: #424242;
    line-height: 26px;
}
p{
    font-size: 14px;
}
.cta-button{
    padding: 18px;
    border: none;
    background-color: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    border-radius: 8px;
}
header{
    padding: 50px 160px;
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
}
.ham-burger{
    display: none;
}
.nav-items{
    display: flex;
    gap: 40px;
}
.nav-items a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
}
.banner h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
}
.banner img{
    width: 100%;
}
main{
    padding: 50px 160px;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.features-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 150%;
}
.features-image img{
    width: 100%;
}
.features-text p{
    margin: 20px 0;
}
.features-text h2{
    font-size: 32px;
}
.features-text-h2-gray{
    color: #727272;
    font-weight: 500;
}
.features-text-h2-orange{
    color: #FF900E;
}
.experience{
    display: flex;
    gap: 60px;
    margin: 130px 0;
}
.experience h2{
    padding-left: 12px;
    border-left: 5px solid #FF900E;
}
.experience-text{
    padding-right: 40px;
}
.experiences{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px 0;
    padding: 12px;
}
.y-exp{
    position: absolute;
    bottom: 60px;
    left: -60px;
    padding: 24px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
}
.y-exp h1{
    font-size: 48px;
}
.y-exp h4{
    font-size: 18px;
    font-weight: 500;
}
.y-exp h1, .y-exp h4{
    color: #FFF;
}
.experience-image{
    position: relative;
}
.experience-image img{
    width: 460px;
}
.facts-counter{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 80px;
}
.counter{
    padding: 20px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 14%;
}
.counter h2{
    color: #424242;
}
.counter h4{
    font-weight: 600;
    color: #727272;
}
footer{
    padding: 50px 160px;
    text-align: center;
}
.sponser-list{
    margin: 40px 0 40px;
    display: flex;
    justify-content: space-between;
}
.sponser-list img{
    width: 12%;
    filter: grayscale(100%);
}
.copyright{
    margin: 80px 0;
    background-color: #FFF4E7;
    padding: 24px;
    border-radius: 8px;
}

/* ---------
    Responsive
    -------- */

@media only screen and (max-width: 768px) {
    header, main, footer{
        padding: 50px 30px;
    }
    .nav-title h2{
        font-size: 28px;
    }
    .nav-items{
        display: none;
    }
    .ham-burger{
        display: block;
        font-size: 24px;
    }
    .banner{
        gap: 12px;
    }
    .banner h1{
        font-size: 36px;
        line-height: 35px;
    }
    .features{
        flex-direction: column-reverse;
        text-align: center;
    }
    .features-image{
        width: 100%;
    }
    .features-image img{
        width: 100%;
    }
    .experience{
        flex-direction: column;
        gap: 60px;
    }
    .experience-text{
        padding-right: 0px;
    }
    .experience-image img{
        width: 100%;
    }
    .y-exp{
        left: -18px;
        padding: 18px;
    }
    .facts{
        text-align: center;
    }
    .facts-counter{
        margin-top: 30px;
    }
    .counter{
        padding: 12px;
    }
    .counter h2{
        font-size: 14px;
    }
    .counter h4{
        font-size: 12px;
    }
    footer{
        text-align: center;
    }
    .sponser-list{
        margin: 40px 0 40px;
    }
    .copyright{
        margin: 60px 0 20px;
    }
  }
  
  @media only screen and (max-width: 768px) and (min-width: 601px) {
    .ham-burger{
        display: none;
    }
    .nav-items{
        display: flex;
    }
    .features-image{
        width: 100%;
    }
} 

@media only screen and (max-width: 992px) and (min-width: 769px) {
    .features-image{
          width: 150%;
    }
    .features-image img{
        width: 100%;
    }
    .experience-image img{
        width: 360px;
    }
    header, main, footer{
        padding: 50px 30px;
    }
  }
  @media only screen and (max-width: 1200px) and (min-width: 993px) {
    .experience{
        gap: 60px;
        align-items: center;
    }
    .experience-text{
        padding-right: 0px;
    }
    .experience-image img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: -110px 25%;
    }
  }
